#
# STM32N6 Alientek DNN647 NSH defconfig
#
CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD="contest2026_463_board"
CONFIG_ARCH_BOARD_CONTEST2026_463_BOARD=y
CONFIG_ARCH_CHIP="stm32"
CONFIG_ARCH_CHIP_ARM_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM=y
CONFIG_ARCH_CHIP_CUSTOM_NAME="stm32n6"
CONFIG_ARCH_CHIP_CUSTOM_DIR="/home/kkk/openvela/contest2026_463_tongyuanjiang/chip/stm32n6"
# CONFIG_ARCH_CHIP_CUSTOM_DIR_RELPATH is not set
CONFIG_ARCH_CHIP_STM32N657X0=y
CONFIG_ARCH_INTERRUPTSTACK=4096
CONFIG_ARCH_STACKDUMP=y
CONFIG_BOARD_LOOPSPERMSEC=21000
CONFIG_BUILTIN=y
CONFIG_HAVE_CXX=y
CONFIG_HAVE_CXXINITIALIZE=y
CONFIG_IDLETHREAD_STACKSIZE=4096
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_READLINE=y
CONFIG_RAM_SIZE=4193280
CONFIG_RAM_START=0x34000400
CONFIG_RAW_BINARY=y
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_WAITPID=y
CONFIG_STM32_USART1=y
CONFIG_STM32_STM32N6XXXX=y
CONFIG_SYSTEM_NSH=y
CONFIG_USART1_SERIAL_CONSOLE=y
CONFIG_DEBUG_SYMBOLS=y
# USART1 console (PE5=TX, PE6=RX)
CONFIG_STM32_USART1=y
CONFIG_USART1_SERIAL_CONSOLE=y
CONFIG_USART1_BAUD=115200
CONFIG_STM32N6_USART1_SERIALDRIVER=y

#
# File system / procfs
#
CONFIG_FS_PROCFS=y
# CONFIG_FS_PROCFS_EXCLUDE_PROCESS is not set
# CONFIG_FS_PROCFS_EXCLUDE_UPTIME is not set
# CONFIG_FS_PROCFS_EXCLUDE_VERSION is not set
# CONFIG_FS_PROCFS_EXCLUDE_MEMINFO is not set

#
# NSH enhancements
#
CONFIG_NSH_PROMPT_STRING="nsh"
CONFIG_NSH_MAXARGUMENTS=16
CONFIG_NSH_CMDPARMS=y

#
# Debug / system info
#
CONFIG_ELF=y
CONFIG_LIB_BOARDCTL=y

#
# LED support (auto LEDs for OS status indication)
#
CONFIG_ARCH_LEDS=y

#
# I2C support (bitbang on PD4=SDA, PD14=SCL)
#
CONFIG_I2C=y
CONFIG_I2C_BITBANG=y
CONFIG_I2C_DRIVER=y
CONFIG_SYSTEM_I2CTOOL=y
CONFIG_NSH_ARCHINIT=y

CONFIG_SPI=y
CONFIG_SPI_BITBANG=y
CONFIG_SPI_DRIVER=y
