#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

comment "STM32N6 Configuration Options"

config STM32_N6_PERIPHERALS
	bool
	default y

config STM32_STM32N6XXXX
	bool
	default y

config ARCH_CHIP_STM32N657X0
	bool "STM32N657X0"
	select STM32_STM32N6XXXX